extends ../../layout/default.pug
include ../../mixins/product_item.pug
include ../../mixins/header_product.pug
include ../../mixins/pagination.pug


block main
  .headerListProduct
    +product_title(listRoute)
  .wrapperListProduct
    .optionProductType
      .titleFilter 
        p1 Bộ Lọc
      .titleFilterPrice 
        p1 Mức giá
        for item in listRangePrice
            if item.value == rangePrice
              .form-check
                input.form-check-input(checked=true id=`${item.id}` type='radio' name='flexRadioDefault' radioRangePrice value=`${item.text}`  )
                label.form-check-label(for=`${item.id}`)
                  | #{item.text}
            else 
              .form-check
                input.form-check-input( id=`${item.id}` type='radio' name='flexRadioDefault' radioRangePrice value=`${item.text}`  )
                label.form-check-label(for=`${item.id}`)
                  | #{item.text}


      div 
        p1 Thương hiệu
        .form-check
          input#brand1.form-check-input(type='radio' name='flexRadioDefault1')
          label.form-check-label(for='brand1')
            | Adidas
        .form-check
          input#brand2.form-check-input(type='radio' name='flexRadioDefault1')
          label.form-check-label(for='brand2')
            | Nike
        .form-check
          input#brand3.form-check-input(type='radio' name='flexRadioDefault1')
          label.form-check-label(for='brand3')
            | Puma
        .form-check
          input#brand4.form-check-input(type='radio' name='flexRadioDefault1')
          label.form-check-label(for='brand4')
            | Vans

    section.listProducts
      nav.nav__box
        each item in product
          +product_item(item.thumbnail,item.title,item.price,item.priceNew,item.discountPercentage,item._id)
      +pagination(pagination)

        


